/* UNIVERSAL SELECTOR */
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #c2dfff;
}

/* ELEMENT SELECTORS */
h1 {
  margin: 5% 0px;
  text-align: center;
  font-family: "Prata", serif;
}
button {
  background-color: #345f99;
  border: 1px solid darkblue;
  color: #ffffff;
  font-size: 1.25rem;
  cursor: pointer;
}
button:last-of-type {
  background-color: #993436;
  border: 1px solid darkred;
}
button,
textarea {
  display: block;
  margin-bottom: 30px;
  width: 75%;
  height: 100%;
  padding: 25px;
  font-family: "Lato", sans-serif;
}
code {
  display: none;
  background: black;
  margin-bottom: 30px;
  padding: 25px;
  color: white;
  height: 75%;
  margin-right: 0px;
  font-size: 0.9rem;
  font-family: "Source Code Pro", "Inconsolata", monospace;
}

pre {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
textarea {
  background-color: white;
  border: 1px solid darkblue;
}

/* CLASS SELECTORS */
.event-listeners {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.clicked {
  background-color: black;
  color: yellow;
  box-shadow: 0px 0px 5px 0px black;
}
/* HOVER RULES */
.clicked:hover {
  background-color: black;
  color: yellow;
  box-shadow: 0px 0px 5px 0px black;
}
button:hover {
  background-color: black;
  color: yellow;
  box-shadow: 0px 0px 5px 0px black;
}
